<!DOCTYPE html>
<html lang="en" ng-app="scholastic-competition">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Scholastic Competition</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="js/angular.min.js"></script>

       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="js/app.js"></script>

  </head>
  <body ng-controller="LandingPageCtrl">

   
  <div class="navbar navbar-default navbar-fixed-top" ng-controller="StateCtrl">
      <div class="container">
        <div class="navbar-header">
          <a href='#/' class="navbar-brand">Scholastic Summit</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" id="themes">School Ranking by Area <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#tracks">Tracks</a></li>
                <li class="divider"></li>
                <li><a href="#ranking">Mathematics</a></li>
                <li><a href="../cosmo/">Robotics</a></li>
                <li><a href="../cyborg/">Coding</a></li>
                <li><a href="../darkly/">Painting</a></li>
                <li><a href="../flatly/">Sport</a></li>
                <li><a href="../journal/">Dance</a></li>
                <li><a href="../lumen/">Music</a></li>
                <li><a href="../paper/">History</a></li>
                
              </ul>
            </li>
            <li>
              <a href="../help/">Schools</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">About</a>
            </li>
            
          </ul>

          <ul ng-if="!loggedIn" class="nav navbar-nav navbar-right">
            <li><a href="#login" >Login</a></li>
            <li><a href="#signup">Sign Up</a></li>
          </ul>


          <ul ng-if="loggedIn" class="nav navbar-nav navbar-right">
            <li><a href="#profile">Profile</a></li>
          </ul>

        </div>
      </div>
    </div>


 
      

       <div  id="main">

                    <div ng-view></div>


        </div>



            <!-- angular templating -->
            <!-- this is where content will be injected -->
            


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>