

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/math_comp.gif" alt="...">
      <div class="caption">
        <h3>AMA Math Competition</h3>
        <p>Does your school have what it takes!?</p>
        <div class="row">
<div class="col-md-8">
</div>
<div class="col-md-4">
        <p><a href="#" class="btn btn-primary" role="button">View</a> </p>
      </div>
    </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/Spelling-bee-logo.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>