

<!-- <div class="page-header" id="banner">
 -->        <img src= "img/Group1.1.png"  width="100%"/> 
          
<!--       </div> -->


<div class="bs-docs-section">

        <div class="row">
        <div class="col-sm-4"></div>
            <p class="bs-component">
              <a href="#" class="btn btn-default">Mathematics</a>
              <a href="#" class="btn btn-primary">Robotics</a>
              <a href="#" class="btn btn-success">Coding</a>
              <a href="#" class="btn btn-info">Painting</a>
              <a href="#" class="btn btn-warning">Music</a>
              <a href="#" class="btn btn-danger">History</a>
              
            </p>

          </div>

          <br>

          <div class="bs-docs-section">

  <div class="row" ng-repeat="rows in tracks">
                <div class="col-sm-6 col-md-4" ng-repeat="img in rows">
<div class="thumbnail" style="margin: 10px">
                      <img src="img/eee.gif"/>

      <div class="caption">
        <h3>AMA Math Competition</h3>
        <p>Does your school have what it takes!?</p>

<div class="row">
          <div class="col-md-4">
</div>
 <div class="col-md-4">
          <p><a href="#" class="btn btn-primary" style="width:100%" role="button">Attend</a> </p>

</div>
        <div class="col-md-4">
        <p><a href="#" class="btn btn-primary" style="width:100%" role="button">Subscribe</a> </p>
      </div>
    </div>
      </div>
    </div>
      </div>
    </div>



                </div>

                </div>

